USE [master]
GO
/****** Object:  Database [SmartReview]    Script Date: 7/20/2020 11:21:54 PM ******/
CREATE DATABASE [SmartReview]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartReview', FILENAME = N'T:\ITs\SqlServer\ServerInstances\MSSQL12.TNT\MSSQL\DATA\SmartReview.mdf' , SIZE = 13312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SmartReview_log', FILENAME = N'T:\ITs\SqlServer\ServerInstances\MSSQL12.TNT\MSSQL\DATA\SmartReview_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartReview].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartReview]
GO
/****** Object:  Table [dbo].[AdminAccount]    Script Date: 7/20/2020 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount](
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Business]    Script Date: 7/20/2020 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](200) NULL,
	[name] [nvarchar](255) NULL,
	[totalReview] [int] NULL,
	[rating] [float] NULL,
	[address] [nvarchar](2000) NULL,
	[phone] [varchar](50) NULL,
	[detailUrl] [nvarchar](max) NULL,
	[fromPage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Business] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessImage]    Script Date: 7/20/2020 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imageUrl] [nvarchar](max) NULL,
	[businessId] [int] NULL,
 CONSTRAINT [PK_BusinessImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessReview]    Script Date: 7/20/2020 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessReview](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](200) NULL,
	[rating] [float] NULL,
	[title] [nvarchar](1000) NULL,
	[reviewContent] [nvarchar](max) NULL,
	[reviewDate] [datetime] NULL,
	[username] [varchar](100) NULL,
	[userImage] [nvarchar](max) NULL,
	[businessId] [int] NULL,
	[isPositive] [bit] NULL,
 CONSTRAINT [PK_BusinessReview] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriesOfReviews]    Script Date: 7/20/2020 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesOfReviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryCode] [varchar](100) NULL,
	[reviewId] [int] NULL,
 CONSTRAINT [PK_CategoriesOfReviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParserInfo]    Script Date: 7/20/2020 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParserInfo](
	[parserCode] [varchar](100) NOT NULL,
	[parserBaseUrl] [nvarchar](2000) NULL,
	[fromPage] [int] NULL,
	[toPage] [int] NULL,
	[refreshExistedData] [bit] NULL,
	[maxParsedReviewsPage] [int] NULL,
	[currentOutput] [nvarchar](max) NULL,
	[currentCommand] [varchar](50) NULL,
 CONSTRAINT [PK_ParserInfo] PRIMARY KEY CLUSTERED 
(
	[parserCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewCategory]    Script Date: 7/20/2020 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewCategory](
	[code] [varchar](100) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](2000) NULL,
 CONSTRAINT [PK_ReviewCategory] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessImage]  WITH CHECK ADD  CONSTRAINT [FK_BusinessImage_Business] FOREIGN KEY([businessId])
REFERENCES [dbo].[Business] ([id])
GO
ALTER TABLE [dbo].[BusinessImage] CHECK CONSTRAINT [FK_BusinessImage_Business]
GO
ALTER TABLE [dbo].[BusinessReview]  WITH CHECK ADD  CONSTRAINT [FK_BusinessReview_Business] FOREIGN KEY([businessId])
REFERENCES [dbo].[Business] ([id])
GO
ALTER TABLE [dbo].[BusinessReview] CHECK CONSTRAINT [FK_BusinessReview_Business]
GO
ALTER TABLE [dbo].[CategoriesOfReviews]  WITH CHECK ADD  CONSTRAINT [FK_CategoriesOfReviews_BusinessReview] FOREIGN KEY([reviewId])
REFERENCES [dbo].[BusinessReview] ([id])
GO
ALTER TABLE [dbo].[CategoriesOfReviews] CHECK CONSTRAINT [FK_CategoriesOfReviews_BusinessReview]
GO
ALTER TABLE [dbo].[CategoriesOfReviews]  WITH CHECK ADD  CONSTRAINT [FK_CategoriesOfReviews_ReviewCategory] FOREIGN KEY([categoryCode])
REFERENCES [dbo].[ReviewCategory] ([code])
GO
ALTER TABLE [dbo].[CategoriesOfReviews] CHECK CONSTRAINT [FK_CategoriesOfReviews_ReviewCategory]
GO
USE [master]
GO
